<!DOCTYPE html>
<html lang="en">

<% include header %>


<body>
        

<% include navbar %>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello, 340!</h1>
        <p>This is my node project. Hope you like it.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<% include new %>   
<div class="container">

    
          
           
    <% include footer %>
</div>



<% include scripts %>

</body>
</html>